<h2>{{ params.samples}} Samples Page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque expedita esse animi maxime voluptate tempore, at sunt labore, incidunt nulla dignissimos iusto ad similique inventore distinctio quam repellendus itaque minus!</p>
<div class="content-wrapper">
	<div class="row">
		<div ng-repeat="project in designProjects | filter:params.design_type">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="well well-lg project individual-project">
					<img ng-src="{{ project.imageURL }}" alt="placeholder image">
					<p class="title">{{ project.title }}</p>
					<p class="subtitle">{{ project.subtitle }}</p>
					<p class="teaser">{{ project.teaser }}</p>
					<div class="row" style="margin-top: 20px;">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<button><a href='{{ project.git }}'>GitHUB</a></button>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right;">
							<button><a href='{{ project.url }}'>Web</a></button>
						</div>
					</div><!-- ends the buttom row -->
				</div> <!-- ends boostrap well -->
			</div> <!-- end boostrap column class -->
		</div> <!-- ends angular repeat -->
	</div> <!-- end boostrap row -->
</div> <!-- end content wrapper -->