@media only screen and (min-width: 768px) {
    /* tablets and desktop */
body {
    width: 95%;
  }
}

@media only screen and (max-width: 767px) {
    /* phones */

  body {

  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
  body {
    width: 100%;
    margin: 0 0 0 1.4em;
    padding: 0;
  }
  body {

  }
  #masthead {
    /* non defined */
    clear: both;
    margin: 0 auto;
  }
  #masthead #video-container {
    height: 30%;
  }
  #masthead ul {
    /* non defined */
    

  }
  #masthead h1 {
    font-size: 3em;
    margin-top: -20px;
    margin-left: 1em;

  }
  #masthead ul li {
    float: right;
    clear: right;
    margin-right: 2em;
  }
  #masthead ul li a {
    font-size: 2em;

  }
  article {
  width : 100%;
  margin-left: -100px;
  margin-right: -50px;
  font-size: .8em;

  }
  article p {
    text-align: left;
    margin: 0;
    width: 100%;
  }
} /* end of portrait phones */