@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic);

html, body {
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
}

body {
	width: 95%;
	margin: 1em auto;
	background-color: #000;
	height: 90%;
}

#masthead {
    height: 60px;
}

#masthead h1 {
	margin: .1em 0 .1em .25em;
	color: #00BFFF;
	float: left;
	font-size: 3.5em;
}

#masthead h2 {
	margin-top: 34px;
}

#masthead p {
	font-size: 3em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: right;
    padding: 0 15px;
    font-size: .9em;
	
}

nav li a {
  font-size: 2.2em;
  display: block;
  color: #00BFFF;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, .6);
  outline: none !important;
}

nav li a:hover {
    text-decoration: none;
}

.grow {
	transition: all .5s ease-in-out;
}

.grow:hover {
	margin-top: 15px;
	transform: scale(1.3);
}

/*video section */

#video-container {
	z-index: -1;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	height: 200px;
	min-width: 300px;
}

#code-video {
	bottom: 0;
	position: absolute;
	width: 100%;
	opacity: .4;
}

video {
	display: inline-block;
}

.container {
  font-size: 1.2em; 
  color: white;
  width: 100%;

  margin-top: 60px;
}

.landing-wrapper {
  margin-top: 4.5em;
}

.project-wrapper {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	height:600px;
}

.project {
  padding: 10px;
  width: 340px;
  height: 200px;
  padding: 10px;
  background-color: #111;
  border: 2px solid #000;
}


.project:hover {
  border: 2px solid blue;
}

.project p {
  color: #FFF;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.project img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0;
  border-radius: 75px;
}

.project .title {
	font-size: 1.2em;
	color: #FFF;
	text-align: right;
}

.project .subtitle {
	font-size: .9em;
	color: #FFF;
	text-align: right;
}

.project .teaser {
	font-size: .8em;
	color: #FFF;
	height:80px;
	overflow:hidden;
	margin: 1em 0 0 0;
	text-align: right;
}

/*.individual-project {
	width: 300px;
	height: 250px;
	margin: 0 auto 1.5em;
}

.project-buttons {
	width: 100%;
	position: relative;
}*/

.project button {
  /*width: 70px;*/
  font-size: .9em;
  border: none;
  border-radius: 3px;
  color: black;
  position: relative;
  /*right: 22px;*/
  background-color: #CE3175;
}

.project button:hover {
	border: none;
	color: white;
	text-decoration: none;
}

.col-centered {
  float: left;;
  margin: 0 auto;
}

#last-element {
	margin: 20px auto;
}

footer {
  width: 95%;
  position: fixed;
  bottom: 20px;
  height: 30px; 
  text-align: center;
  background-color: #000;
  margin: 20px auto 0;
}

footer p {
	font-size: 1.2em;
	padding: 5px;
	color: #FFF;
	opacity: 1;
}
