<h2>Projects Page</h2>
<p class="description">These are development projects that are in various levels of development.  These all use javascript methods and various frameworks like AngularJS and ExpressJS, with the development code using the NodeJS framework.</p>
<div class="project-wrapper">
  <div class="row-fluid">
    <div ng-repeat="project in developmentProjects | filter:params.development_type" class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 1.5em;">
      <div class="well well-lg project individual-project">
        <img ng-src="{{ project.imageURL }}" alt="placeholder image">
	  <p class="title">{{ project.title }}</p>
	  <p class="subtitle">{{ project.subtitle }}</p>
	  <p class="teaser">{{ project.teaser }}</p>
	  <div class="project-button" style="display: block-inline;margin-top: -48px;">
            <span style="">
              <a href='{{ project.git }}' target="_blank"><button>github</button></a>
	    </span>
	    <span style="margin: -45px 0 0 150px;">
	      <a href='{{ project.url }}' target="_blank"><button>web</button></a>
            </span>
	  </div><!-- ends the buttom row -->
	</div> <!-- ends boostrap well -->
      </div> <!-- ends angular repeat -->
   </div> <!-- end boostrap row -->
</div> <!-- end project-wrapper -->
